<h1 class="center">Use the Force</h1>
<div class="row">
  <form method="POST" action="/results/">
    <div class="input-field col s1 offset-s3">
      <select name="category" type="text">
        <option value="" disabled selected>Choose a category</option>
        <option value="films">Films</option>
        <option value="people">People</option>
        <option value="planets">Planets</option>
        <option value="species">Species</option>
        <option value="starships">Starships</option>
        <option value="vehicles">Vehicles</option>
      </select>
      <label>Category</label>
    </div>
    <div class="input-field form col s5">

        <input id="search" type="text" name="q">
        <label for="search">Search</label>
        <span class="helper-text">People, Places or Things</span>

    </div>
    <button type="submit" class="btn black">Search</button>
  </form>
</div>
